.app {
  text-align: center;

  .header {
    font-size: 3rem;

    @media screen and (max-width: 800px) {
      font-size: 1.5rem;
    }
  }
}

.photo-container {
  border-radius: 0.5rem;
  border-width: 0.25rem;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  background-color: blue;
  padding: 1rem;
  margin: 0.5rem;
  text-align: center;

  @media screen and (max-width: 800px) {
    padding: 0.5rem;
    margin: 0.5rem 2.5rem 0.5rem;
    font-size: x-small;
  }
}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

img {
  width: 500px;

  @media screen and (max-width: 800px) {
    width: 300px;
  }
}
